$black-full: hsl(0, 0%, 0%);
$gray-dark: hsla(0, 0%, 12%, 1);
$gray-lighter: hsla(0, 0%, 19%, 1);
$gray-light: hsl(260, 2%, 32%);
$red-bright: hsla(352, 73%, 33%, 1);
$red: hsla(352, 80%, 53%, 1);
$white: hsl(0, 0%, 100%);

$open-sans: "Open Sans", sans-serif;
$bold: 700;
$thin: 400;
$normal: 500;
